Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
x="mk sharma"
y=['dsfsa',5566,'dff',56.55]
z=58.56
a=('dsda',55,'fgs')
print(type(x),type(y),type(z),type(a))

<class 'str'> <class 'list'> <class 'float'> <class 'tuple'>

Q2. Given are some following variables containing data:
(i) var1 = ''
(ii) var2 = '[ DS , ML , Python]'
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [2]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1.

'''The data types of the given variables are:

var1 is a empty string
var2 is a string (containing a list of strings)
var3 is a list 
var4 is a float
we also check''' 
print(type(var1),type(var2),type(var3),type(var4)) 
#output --<class 'str'> <class 'str'> <class 'list'> <class 'float'>

<class 'str'> <class 'str'> <class 'list'> <class 'float'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [3]:
#(1)-  / use for divide integer 
x1=25/5

#(2) % use for give remender after divide
x2=30%4

#(3) // use for ask quotient 
x3=55//3

#(4) ** use for squier,cube ect.
x4=5**3
print( "(1) ",x1," ,(2)  ",x2, " ,(3)  ",x3, ", (4)  ",x4)

(1)  5.0  ,(2)   2  ,(3)   18 , (4)   125

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [4]:
x=['hii',25,65.36,{"dsfsf":25,"mk":56},25+85j,True,[255,65.5,'dfas'],(56,56.65),55,56.5]
for _ in x:
    print(_,"  ",type(_))

hii    <class 'str'>
25    <class 'int'>
65.36    <class 'float'>
{'dsfsf': 25, 'mk': 56}    <class 'dict'>
(25+85j)    <class 'complex'>
True    <class 'bool'>
[255, 65.5, 'dfas']    <class 'list'>
(56, 56.65)    <class 'tuple'>
55    <class 'int'>
56.5    <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [6]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

c = 0
while A % B == 0:
    A = A / B
    C =+ 1

if C > 0:
    print(f"Number {A} is divisible by number {B} ", C, " times.")
else:
    print(f"Number {A} is not divisible by number {B}.")

Enter the number A:  200
Enter the number B:  100

Number 2.0 is divisible by number 100  1  times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [7]:
x=[2556,545,145,14455,1452,1445,4121,4455,145,4411,564564,465,46,464,64,64,151,65161,313,1546,513,31,516,1313,165]
for _ in x :
    if  _%3==0:
        print(_,"is divisible by 3")
    else :
        print(_,"is not divisible by 3")

2556 is divisible by 3
545 is not divisible by 3
145 is not divisible by 3
14455 is not divisible by 3
1452 is divisible by 3
1445 is not divisible by 3
4121 is not divisible by 3
4455 is divisible by 3
145 is not divisible by 3
4411 is not divisible by 3
564564 is divisible by 3
465 is divisible by 3
46 is not divisible by 3
464 is not divisible by 3
64 is not divisible by 3
64 is not divisible by 3
151 is not divisible by 3
65161 is not divisible by 3
313 is not divisible by 3
1546 is not divisible by 3
513 is divisible by 3
31 is not divisible by 3
516 is divisible by 3
1313 is not divisible by 3
165 is divisible by 3