Q1. How do you comment code in Python? What are the different types of comments?

''' we comment code in python using # symbol ,using # symbol we comment single line 
we have two type of comment available in python
 1- single line comment using (#)
 2- multi line comment using (''') & (""")

 Q2. What are variables in Python? How do you declare and assign values to variables?

In [ ]:
''' a variable is a name to store a  value provided by the user and system 
assign value  is''' 
x=253
type(x)  -- int
y='hii I am Manoj'
type(y) --str
# we also assign new values to exist variables like
 x=363
 y='manoj live in rajashtan'

Q3. How do you convert one data type to another in Python ?

In [12]:

''' in python we covert 1 data type to another data type we use conversion functions  to change data type '''
x=2545 

type(x)  # int
# coverting to string 
y=str(x)
print(type(y),', ',y) #output <class 'str'> ,  2545

<class 'str'> ,  2545

4. How do you write and execute a Python script from the command line?

In [18]:
''' firstly we open jupyter notebook and create a new file extension name.ipynb 
and write a code and run the program 
ex.-
we create a file pythan_lesson.ipynb '''
x=56
y=87
z=x+y
print(z)   #output 143

143

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3

In [22]:
my_list = [1, 2, 3, 4, 5]
sub_list=my_list[1:3]
print(sub_list)

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [25]:
'''Complex number in mathematics is a combination of real and imaginary numbers comination 
like 22+5i, 22 represent real number and 5 represent imaginary number in mathematics
we represent imaginary numbers to i and in python we represent j  '''
x=85+6j
print(type(x),' ,',x) #output --- <class 'complex'>  , (85+6j)

<class 'complex'>  , (85+6j)

Q7. What is the correct way to declare a variable named age and assign the value 25 to it ?

In [26]:
''' the correct way  to declare age=25 variable  25 is a integer then we assign value age to 25
we also assign new value to age '''
age=25
print(age)  #output 25

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable 
belong to

In [27]:
price=9.99
type(price) #outeput -- float
#price data type is float,float data type store value in decimal

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the 
value of this variable

In [2]:
name="manoj sharma"

print(name) #output--manoj sharma

manoj sharma

Q10. Given the string "Hello, World!", extract the substring "World".?

In [9]:
x="Hello, World"
print(x[7:12]) #output---World

World

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are 
currently a student or not

In [21]:
 is_student=True 
 print(type(is_student)," ,",is_student)

<class 'bool'>  , True